body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin-top: 45px;
}
*{box-sizing:border-box}

main{
  width:94.75%;
margin: 0 auto;
 overflow: hidden;
 padding:4px; 
}

.col{
    width: 33.333%;
    height:300px;
    float: left;
    text-align: center;
    padding:1rem;
    background-color: red;
    border: 5px solid white;
}
/******Tablet******/
@media only screen and (max-width:991px){
    
    .col1, .col2{
        width:50%;
    }
    .col3{
        width:100%;
    }
}
@media only screen and (max-width:767px){
    .col{
       float: none;
        width:100%;
    }
}
